.hiddenId 
{
    display: none;
}
.InsertUpdate
{
    width:500px;
}
a
{
    text-decoration:none;
    color:black;
}
a:hover
{
    color:brown;
}
.LoginTable, .RegisterTable, .ForgetTable {
    width: 500px;
}
    .LoginTable tbody tr td, .RegisterTable tbody tr td, .ForgetTable tbody tr td {
        width: 200px;
    }
.LoginValidation, .RegisterValidation, .ForgetValidation {
    width: 500px;
}